
@font-face {
    font-family:"Londrina Solid Black";
    src:url("LondrinaSolid-Black.woff2") format("woff2"),url("LondrinaSolid-Black.woff") format("woff"),url("LondrinaSolid-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        