
@font-face {
    font-family:"Monocraft";
    src:url("Monocraft.woff2") format("woff2"),url("Monocraft.woff") format("woff"),url("Monocraft.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        